<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form style="margin-top: 80px" id="form1" action="">
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-block">
                <input style="width: 50%" th:value="${stu.getUsername()}" readonly type="text" name="username" lay-verify="username" placeholder="请输入用户名" value="" class="layui-input">
                <input type="hidden" name="id" th:value="${stu.id}">
            </div>
        </div>

        <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
        <input style="width: 50%" lay-verify="password" id="pass" type="password" name="password" placeholder="请输入密码" value="" class="layui-input">
        </div>
        </div>
        <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
        <input style="width: 50%" lay-verify="repassword" type="password" name="work" placeholder="确认密码" value="" class="layui-input">
        </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">修改</button>
            </div>
        </div>
    </div>
</form>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;


        form.verify({
            password: [/(.+){6,12}$/, '密码必须6到12位']
            ,
            repassword: function (value) {
                if ($('#pass').val() != value) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {

            data = data.field;

            if (data.nickname == '') {
                layer.msg('密码不能为空');
                return false;
            }

            $.ajax({
                url: "/student/stu_pass",
                type: "post",
                // contentType: 'application/json',
                // dataType:"json",
                data: $("#form1").serialize(),
                success: function (data) {

                    if (data.code == 200) {

                        layer.msg("修改成功！", function () {
                            window.parent.location.reload()
                        })
                    }else{
                        layer.msg(data.message, function () {

                        })
                    }
                    console.log(data);
                },
                error: function (data) {
                    console.log("1111111111111");
                }
            });

            return false;
        });

    });
</script>
</body>
</html>